.header {
  height: 100px;
  padding: 17px 0 28px 0;
  background-color:  rgb(149, 100, 170);
  &_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    
  }
  &_logo {
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 55px;
    text-decoration: none;
  }
  &_logo:hover {
    text-decoration: none;
    color:rgb(206, 199, 199);
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;
    padding-top: 16px;
    &__link_item {
      list-style-type: none;
      margin-left: 36px;
    }

    &__link {
      font-size: 16px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    &__link:hover {
      color:rgb(206, 199, 199);
      text-decoration: none;
    }
    
    &__link_item:nth-child(3) .header_menu__link {
      color: rgb(255, 207, 45);
   
    }
    &__link_item:nth-child(3) .header_menu__link:hover {
      color: rgb(175, 141, 30);
    }
    &__link_item:nth-child(3) .premium {
      padding-top: 2px;
      position: relative;
      width: 122px;
      height: 30px;
      background: rgb(104, 70, 119);
      border-radius: 10px;
      display: inline-block;
      align-items: center;
      padding: 3px 13px;
    }
  }
  .hamburger {
    display: none;
  }
  .premium-icon {
    display: none;
   }
}